* {
    margin: 0;
    padding: 0;
}

/* Share styles start */
.display-flex {
    display: flex;
}

.section-title {
    font-size: 3.75rem;
    font-weight: bolder;
    color: #ffffff;
}

.section-description {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
}

/* Share styles End */

/* Navbar style start  */

.header-section {
    background-color: rgba(26, 11, 46, 1);
}

.navbar {
    max-width: 1100px;
    justify-content: space-between;
    margin: 0px auto;
    padding: 35px;
    /* align-items: center; */

}

.logo {
    max-width: 219px;
    height: 32px;
}

.navbar-links {

    gap: 32px;

    align-items: center;
}

.navbar-item {

    list-style: none;
    padding: 15px;
    border-radius: 8px;


}

.navbar-item:hover {
    background-color: #fb09b2ad;
}

.navbar-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
}

.btn-primary-nav {
    max-width: 135px;
    height: 44px;
    cursor: pointer;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    border: none;

    border-radius: 12px;

    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}


.van-mobile-menu {
    width: 24px;
    height: 24px;
}


/* Navbar style End  */

/* Hero section styles start */
.hero-container {
    max-width: 1600px;
    height: 760px;
    background-image: url(../assets/hero-bg.png);
    margin: 101px auto;

    align-items: center;
    justify-content: center;

}

.hero-content {
    width: 550px;
    height: 558px;
    margin: 0 auto;
    margin-left: 520px;



}

.hero-image-section-min {
    justify-content: center;
    align-items: center;
    background-image: url(../assets/hero-circle.png);
    background-repeat: no-repeat;

    width: 350px;
    height: 350px;
    margin-left: 100px;

}

.heo-image {

    justify-content: center;
    width: 116px;
    height: 175px;

    /* padding: 15px; */
    margin: 0px 0px 50px 130px;

}

.hero-image-section-min .hero-img-new {

    margin: 0px 0px 270px 45px;
    background-color: #00FF88;
    color: #1A0B2E;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 700;

}

.heo-image {
    margin-top: 70px;
    width: 100%;

}

.heo-image img {
    width: 100%;
}

.techwave-section {

    text-align: center;
    margin-top: 20px;

}

.hero-buttn-group {
    margin-top: 20px;
}

.btn-hero-spotify {
    max-width: 250px;
    height: 44px;
    cursor: pointer;
    padding: 8px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    border: none;

    border-radius: 20px;

    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}

.btn-hero-sub {
    color: #00FF88;
    max-width: 250px;
    height: 44px;
    cursor: pointer;
    padding: 8px 20px;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid #00FF88;
    border-radius: 20px;
    background-color: #1a0b2ee2;
}

/* Hero section styles End */

/* About podcast section styles  start */
.podcast-container {
    background-color: #1A0B2E;
    margin-top: -105px;
}

.about-podcast {
    text-align: center;
    max-width: 1200px;
    height: 222px;
    margin: 0 auto;
}

.section-description2 {
    margin-top: 30px;
    margin-bottom: 50px;
}

.records-average-monthly {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    height: 94px;
    margin: 0 auto;
    margin-top: 50px;


}

.record-title {
    font-size: 3rem;
    font-weight: bolder;
    color: #00FF88;
    margin-bottom: 10px;
}

/* About podcast section styles   end*/

@media screen and (min-width: 576px) {
    .van-mobile-menu {
        display: none;
    }
}

/* Mobile, responsive start */
@media screen and (max-width: 576px) {

    .navbar-links,
    .btn-primary-nav {
        display: none;
    }

    .logo {
        max-width: 100px;

    }

    .hero-content {
        margin-left: -60px;
    }

    .records-average-monthly {
        grid-template-columns: repeat(2, 1fr);
        height: 300px;
        margin-top: 160px;
    }

}