* {
    margin: 0;
    padding: 0;
}

/* Share styles start */
.display-flex {
    display: flex;
}

/* Share styles End */

/* Navbar style start  */

.header-section {
    background-color: rgba(26, 11, 46, 1);
}

.navbar {
    max-width: 1100px;
    justify-content: space-between;
    margin: 0px auto;
    padding: 35px;
    /* align-items: center; */

}

.logo {
    max-width: 219px;
    height: 32px;
}

.navbar-links {

    gap: 32px;
}

.navbar-item {

    list-style: none;


}

.navbar-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
}

.btn-primary-nav {
    max-width: 135px;
    height: 44px;
    cursor: pointer;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    border: none;

    border-radius: 12px;

    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}


.van-mobile-menu {
    width: 24px;
    height: 24px;
}


/* Navbar style End  */


@media screen and (min-width: 576px) {
    .van-mobile-menu {
        display: none;
    }
}

/* Mobile, responsive start */
@media screen and (max-width: 576px) {

    .navbar-links,
    .btn-primary-nav {
        display: none;
    }

    .logo {
        max-width: 100px;

    }

    .navbar {}


}