* {
    margin: 0;
    padding: 0;

}



.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

/* Share styles start */
.display-flex {
    display: flex;
}

.section-title {
    font-size: 3.75rem;
    font-weight: bolder;
    color: #ffffff;
}

.section-description {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
}

.feature-titles {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

/* Share styles End */

/* Navbar style start  */

.header-section {
    background-color: rgba(26, 11, 46, 1);
}

.navbar {
    max-width: 1100px;
    justify-content: space-between;
    margin: 0px auto;
    padding: 35px;
    /* align-items: center; */

}

.logo {
    max-width: 219px;
    height: 32px;
}

.navbar-links {

    gap: 32px;

    align-items: center;
}

.navbar-item {

    list-style: none;
    padding: 15px;
    border-radius: 8px;
    transition: width 5s linear 1s, background-color 5s linear 1s;


}

.navbar-item:hover {
    background-color: sandybrown;
    width: 60px;
    transform: scale(2);
}

.navbar-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
}

.btn-primary-nav {
    max-width: 135px;
    height: 44px;
    cursor: pointer;
    padding: 12px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    border: none;

    border-radius: 12px;

    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}


.van-mobile-menu {
    width: 24px;
    height: 24px;
}


/* Navbar style End  */

/* Hero section styles start */
.hero-container {
    max-width: 1600px;
    height: 760px;
    background-image: url(../assets/hero-bg.png);
    margin: 101px auto;

    align-items: center;
    justify-content: center;

}

.hero-content {
    width: 550px;
    height: 558px;
    margin: 0 auto;
    margin-left: 520px;



}

.hero-image-section-min {
    justify-content: center;
    align-items: center;
    background-image: url(../assets/hero-circle.png);
    background-repeat: no-repeat;

    width: 350px;
    height: 350px;
    margin-left: 100px;

}

.heo-image {

    justify-content: center;
    width: 116px;
    height: 175px;

    /* padding: 15px; */
    margin: 0px 0px 50px 130px;

}

.hero-image-section-min .hero-img-new {

    margin: 0px 0px 270px 45px;
    background-color: #00FF88;
    color: #1A0B2E;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 700;

}

.heo-image {
    margin-top: 70px;
    width: 100%;

}

.heo-image img {
    width: 100%;
}

.techwave-section {

    text-align: center;
    margin-top: 20px;

}

.hero-buttn-group {
    margin-top: 20px;
}

.btn-hero-spotify {
    max-width: 250px;
    height: 44px;
    cursor: pointer;
    padding: 8px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    border: none;

    border-radius: 20px;

    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}

.btn-hero-sub {
    color: #00FF88;
    max-width: 250px;
    height: 44px;
    cursor: pointer;
    padding: 8px 20px;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid #00FF88;
    border-radius: 20px;
    background-color: #1a0b2ee2;
}

/* Hero section styles End */

/* About podcast section styles  start */
.podcast-container {
    background-color: #1A0B2E;
    margin-top: -105px;
}

.about-podcast {
    text-align: center;
    max-width: 1200px;
    height: 222px;
    margin: 0 auto;
}

.section-description2 {
    margin-top: 30px;
    margin-bottom: 50px;
}

.records-average-monthly {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    height: 94px;
    margin: 0 auto;
    margin-top: 50px;
    gap: 80px;


}

.record-title {
    font-size: 3rem;
    font-weight: bolder;
    color: #00FF88;
    margin-bottom: 10px;
}

/* About podcast section styles   end*/


/* Feature section style (Community, mobile) start */

.feature-container {
    background-color: #230E3D;
}

.feature-title {
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 40px;
}

.feature-elements {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 400px);
    gap: 10px;
    height: 780px;




}

.feature-element1 {
    grid-row: span 2;
    grid-column: span 1;
    height: 480px;
    /* padding: 130px 20px 5px 10px; */
    padding-left: 30px;
    background-color: #351165;
    border-radius: 15px;
}

.feature-element-img {
    margin-top: 100px;
    margin-bottom: 10px;
}

.feature-element-img2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.feature-element2 {
    grid-row: span 1;
    grid-column: span 2;

    height: 50%;
    padding-left: 30px;
    background-color: #351165;
    border-radius: 15px;
}

.feature-element3 {
    grid-row: span 1;
    grid-column: span 2;

    height: 50%;
    margin-top: -170PX;
    padding-left: 30px;
    background-color: #351165;
    border-radius: 15px;

}

.feature-element4 {
    grid-row: span 1;
    grid-column: span 2;

    margin-top: -325px;
    height: 60%;
    padding-left: 30px;
    background-color: #351165;
    border-radius: 15px;
}

.feature-element5 {


    margin-top: -325px;
    height: 60%;
    padding-left: 30px;
    background-color: #351165;
    border-radius: 15px;
}

.feature-titles {
    margin-bottom: 20px;
}


/* Feature section style (Community, mobile) End */

/* feature episode and meet host start */

.feature-meet-host {
    background-color: #1A0B2E;
}

.feature-episodes {
    max-width: 1250px;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.feature-episod-meet-title {
    text-align: center;
    padding-top: 120px;
    margin-bottom: 30px;
}

.feature-episodes-cards {
    gap: 25px;
}

.feature-episodes-card {
    background-color: #250D44;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);


}

.feature-episode-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 15px;
    margin-top: 10px;

}

.watch-time-container {
    margin-top: 20px;
}

.watch-time {
    font-size: 1rem;
    font-weight: 500;
    color: #00FF88;
    margin-left: 5px;

}

.ireame {
    border: none;
    border-radius: 15px;
}

/* feature episode and meet host end */

/* meet the host start */
.host-name {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

.meet-thehost-container {
    max-width: 1200px;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.meet-the-host-title {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
}

.host-container {
    background-color: #3c0a7da8;
    padding: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;



}

.host-content {
    margin-left: 20px;
}

.host-social-container {
    margin-top: 20px;
    gap: 10px;
}



/* meet the host End */

/* footer section start */

.footer-section {
    background: url(../assets/footer-bg.png);
    max-width: 1600px;
    height: 412px;
}

.footer-centernt {
    max-width: 1360px;
    border: 1px solid #1A0B2E;
    margin: 0 auto;
    text-align: center;
}

.footer-image {
    margin-top: 180px;
    margin-bottom: 10px;
}

.footer-socials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 700px;

    color: #ffffff;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-bottom: 25px;
}

.footer-socials img {
    margin-right: 10px;
}

/* footer section end */

@media screen and (min-width: 576px) {
    .van-mobile-menu {
        display: none;
    }
}

/* Mobile, responsive start */
@media screen and (max-width: 576px) {


    .navbar-links,
    .btn-primary-nav {
        display: none;
    }

    .logo {
        max-width: 100px;

    }

    .hero-content {
        margin-left: -60px;
    }

    .records-average-monthly {
        grid-template-columns: repeat(2, 1fr);
        height: 300px;
        margin-top: 160px;
    }

    .feature-elements {
        grid-template-columns: 1fr;
    }

    .feature-episodes-cards,
    .host-container {
        flex-direction: column;
    }

    .footer-socials {
        grid-template-columns: repeat(2, 1fr);
    }

}